name: .Discord Music Player Build & Unit Test

on: push

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-node-js-unit-tests:
    name: Node Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: npm ci, build and test
        run: |
          npm ci
          npm run build --if-present
          npm test --passWithNoTests
